/* Styling */

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
    background: black;
}

h1 {
  color: #a10022;
  font-size: 6em;
  font-family: 'Shadows Into Light', sans-serif;
  text-transform: uppercase;
  text-align: center;
}